#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}
#pic{
    border: 2px solid rgb(17, 153, 187);
    width: 15%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#pic>img{
    position: absolute;
    width: 10%;
}
p{
    align-self: flex-end;
    margin-bottom: -30px;
    color:rgb(17, 153, 187) ;
    font-weight: bolder;
}


#car{
    width: 40%;
  }
  #prent_div{
    display: flex;
    
  }
  
  .form1{
    display: none;
  }